h2{
    color: red;
}

.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 200px;
}

.nav-items > ul {
   padding: 0px 20px;
   font-size: larger;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    margin: 5px;
    padding: 5px;
    width: 210px;
    word-wrap: break-word;
}

.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}

.search {
    padding: 10px;
}

.res-logo {
    width: 100%;
}

.footer {
    margin: 10px;
    border: 1px solid black;
    height: 50px;
}

.filter-btn{
    cursor: pointer;
    margin: 10px;
}

.shimmer-card{
    height: 400px;
    width: 200px;
    margin:20px;
    background-color: #f0f0f0;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.filter {
    display: flex;
}

.user-card{
    padding: 10px;
    border: 1px solid greenyellow;
}